<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "profile.jpg" %>
	</div>

	<div id="content">
		<h1>Hey, I'm Yu-Chia "Hank" Liu</h1>
		<p>This is the week 2 of 12 Web Apps in 12 Weeks Challenge, which is planned and made by <a href="https://mackenziechild.me/12-in-12/2/">Mackenzie Child</a></p>
		<p>
			In this application, I built a blog in Rails 4 that allows visitors see the pages and leave comments.
			Only administrator of this website posts articles and deletes comments.
		</p>
	</div>
</div>
